.slider-sudha {
    width: 100%;
    overflow: hidden;
    position: relative;
    max-width: 800px;
    /* Adjust as needed */
    margin: auto;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}


/* Responsive Images */

.slide img {
    width: 900px;
    height: 100%;
}


/* Keyframe Animation */

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


/* Navigation Arrows (Optional) */

.prev,
.next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}